<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset = "utf-8">
        {% load static %}
        <link rel = "stylesheet" href = "{% static 'css/base.css' %}">
    </head>

    <body>
        <nav>
            <ul>
                <li><a href = "{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href = "{% url 'create' %}">Create</a></li>
                {% endif %}
                <li><a href = "{% url 'lists' %}">View</a></li>

                <br>
                <br>

                {% if user.is_authenticated %}
                <li>Hello {{user.get_username}}</li>
                <li><a href = "/logout/">Logout</a></li>
                {% else %}
                <li><a href = "/register/">Register Here</a></li>
                <li><a href = "/login/">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>